<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <title>ShorterURL</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Shorter link</a>
    </div>
  </nav>

  <div class="text-center mt-5" style="max-width: 50% max-height: 50%">
    <h2>URL shortener</h2>
  </div>
  <div class="text-center mt-5">
    <img src="/image/link_img.png" class="mb-5" alt="ImageOfLink" width="200px" height="200px">
  </div>

  {{{body}}}

</body>

</html>