<div class="d-flex justify-content-center mt-5">
  <form action="/">
    <input type="url" class="form-control-lg" placeholder="input URL here" required>

  </form>
</div>

<div class="d-flex justify-content-center mt-3">
  <button type="button" class="btn btn-outline-primary btn-lg btn-bloc">Shorten</button>
</div>