<div class="d-flex justify-content-center mt-5">
  <form action="/link" method="post">
    <input name="link" type="url" class="form-control-lg" placeholder="input URL here" required>

    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-outline-primary btn-lg btn-bloc">Shorten</button>
    </div>
  </form>
</div>
