<div class="d-flex justify-content-center mt-3">
  <div>
    <h3>Successs! Please use this link:</h3>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <a id="copyLink" href="{{shorterLink}}">
    <h3>{{shorterLink}}</h3>
  </a>
</div>
<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary btn-lg" onclick="copy()">Copy</button>
</div>


<script src="/javascripts/copyLink.js"></script>